/* Page items */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1em;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main:after,
nav:after,
footer:after,
header:after,
section:after,
form:after,
div:after,
ul:after,
ol:after,
li:after,
dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
hr {display: none;}
p {line-height: 1.5em;}

@font-face {
  font-family: "SuperMario";
  src: url('../fonts/SuperMario.ttf') format("truetype");
}

html {
  background: #a06919 url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font: normal normal 20px/1.2em Helvetica, arial, sans-serif;
  color: #FFF;
  font-weight: 300;
  overflow: hidden;
}

h1 {
  font-size: 45px;
  text-shadow: 0px 0px 1px #333;
}

h2 {
  font-size: 35px;
}

.main {
  margin: 0 auto;
  width: 920px;
  padding: 50px 0px;
}

.menu {
  position: relative;
  width: 500px;
  float: left;
}
.gameTitle h1, h2 {
  font-family: "SuperMario", Helvetica, sans-serif;
  text-align: center;
  text-shadow: 5px 4px 2px black;
  letter-spacing: 0.01em;
}
.gameTitle {
  width: 95%;
}
.gameTitle {
  color: #00D6FA;
}
.gameTitle .first { color: #E23232; }
.gameTitle .snd { color: #F5C920; }
.gameTitle .third { color: #06C903; }

.game {
  position: relative;
  width: 400px;
  text-align: center;
  float: left;
}

.info {
  margin-top: 15px;
  width: 95%;
  padding: 0px 20px;
  font-family: 'Helvetica Neue', Helvetica;
  box-shadow: inset 0px 0px 5px #222;
  border: 1px solid #222;
  border-radius: 10px;
  color: #FFF;
  text-shadow: 0 0 15px #333;
  letter-spacing: 0.02em;
  font-weight: 300;
  text-align: center;
  background: rgba(255,255,255,.1);
}
.info p { margin: 30px 0px; }
.info a { color: #FFF; text-decoration: underline; }

.help {
  margin-top: 15px;
  width: 95%;
  font-family: 'Helvetica Neue', Helvetica;
  letter-spacing: 0.07em;
  box-shadow: inset 0px 0px 5px #222;
  border: 1px solid #222;
  background: rgba(255,255,255,.1);
  border-radius: 10px;
  text-shadow: 0 0 15px #333;
  display: none;
}

.help>.title {
  padding: 15px 20px;
  box-shadow: inset 0px 0px 5px #222;
  border-bottom: 1px solid #222;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  font-weight: normal;
}
.help>.keyboards { padding: 20px; }
.help>.keyboards>.cmd{
  padding: 0px 5px 5px 5px;
  float: left;
}
.help>.keyboards>.cmd:not(:first-child){ padding-top: 15px; }

.help>.keyboards>.key{
  box-shadow: inset 0px 0px 5px #222;
  background: rgba(255,255,255,.16);
  padding: 5px 10px;
  width: 100%;
  float: left;
}

.btn-start-game  {
  padding: 15px 25px;
  text-decoration: none;
  box-shadow: inset 0px 0px 5px #222;
  border: 1px solid #222;
  transition: all 300ms ease;
  cursor: pointer;
  letter-spacing: 0.07em;
  color: #FFF;
  text-shadow: 0px 0px 10px black;
  background: rgba(0, 0, 0, .2);
  font-weight: 500;
}
.btn-start-game:hover  {
  box-shadow: inset 0px 0px 15px #222
}

/* Game boy abstract items */
.btn-power {
  position: absolute;
  top: 128.5px;
  left: 66px;
  background: red;
  width: 11px;
  height: 11px;
  border-radius: 5px;
}

.screen {
  position: absolute;
  top: 74px;
  left: 104px;
  width: 191px;
  height: 175px;
  background: #333;
  border-radius: 5px;
}

.keys {
  position: absolute;
  top: 354px;
  left: 50px;
  height: 88px;
  width: 90px;
}
.keys .up {
  position: absolute;
  box-shadow: inset 0px 0px 5px #222;
  background: rgba(255, 255, 255, .5);
  border-radius: 3px;
  display: none;
  left: 38%;
  top: 5%;
  height: 20px;
  width: 20px;
}
.keys .left {
  position: absolute;
  box-shadow: inset 0px 0px 5px #222;
  background: rgba(255, 255, 255, .5);
  border-radius: 3px;
  display: none;
  left: 6.5%;
  top: 37%;
  height: 20px;
  width: 20px;
}
.keys .down {
  position: absolute;
  box-shadow: inset 0px 0px 5px #222;
  background: rgba(255, 255, 255, .5);
  border-radius: 3px;
  display: none;
  left: 38%;
  top: 70%;
  height: 20px;
  width: 20px;
}
.keys .right {
  position: absolute;
  box-shadow: inset 0px 0px 5px #222;
  background: rgba(255, 255, 255, .5);
  border-radius: 3px;
  display: none;
  left: 70%;
  top: 37%;
  height: 20px;
  width: 20px;
}
